.logo {
  display: flex;
  margin-left: 10px;
}
.logo button {
  margin-right: 15px;
}

.logo button > img {
  width: 17px;
  height: 14px;
}

/* .logo img {
  width: 17px;
  height: 14px;
  object-fit: contain;
} */

.logo a {
  text-decoration: inherit;
  cursor: pointer;
  color: inherit;
}

.main img {
  width: 70px;
  height: 20px;
}

@media (min-width: 768px) and (max-width: 991px) {
  .logo {
    padding: 15px 0;
    height: 60px;
    width: 100%;
  }
}

@media (max-width: 767px) {
  .logo {
    height: 60px;
    width: 100%;
    padding: 15px 20px;
  }
}
