.main {
  background-color: #fff;
}

.banner {
  position: relative;
  overflow: hidden;
  margin-bottom: 0;
}

.slider {
  width: max-content;
  height: 300px;
  overflow: hidden;
}

.holder {
  display: flex;
  transform: translate3d(-910px, 0px, 0px);
  transition: transform 0.5s;
  touch-action: pan-y;
}

.index1 {
  transform: translate3d(-1995px, 0px, 0px);
}

.index2 {
  transform: translate3d(-3080px, 0px, 0px);
}

.index3 {
  transform: translate3d(-4160px, 0px, 0px);
}

.index4 {
  transform: translate3d(-5245px, 0px, 0px);
}

.index5 {
  transform: translate3d(-6330px, 0px, 0px);
}

.index6 {
  transform: translate3d(-7415px, 0px, 0px);
}

.index7 {
  transform: translate3d(-8500px, 0px, 0px);
}

.index8 {
  transform: translate3d(-9580px, 0px, 0px);
}
.index9 {
  transform: translate3d(-10665px, 0px, 0px);
}

.index10 {
  transform: translate3d(-11745px, 0px, 0px);
}

.index11 {
  transform: translate3d(-910px, 0px, 0px);
}

.list {
  position: relative;
  overflow: scroll;
  display: grid;
  margin: 0;
  padding: 0px 50px;
}

.track {
  opacity: 1;
  /* transform: translate3d(-20468px, 0px, 0px); */
  width: 15000px;
  position: relative;
  left: 0;
  top: 0;
  display: block;
}
.track::before {
  content: "";
  display: table;
}

.prev {
  left: calc((100% - 1210px) / 2);
}
.next {
  right: calc((100% - 1200px) / 2);
}

@media (min-width: 1200px) {
  .main {
    padding-top: 25px;
  }
  .banner {
    height: auto;
  }
}
