.main {
  background-color: #fff;
}

.banner {
  position: relative;
  overflow: hidden;
  margin-bottom: 0;
}

.slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  user-select: none;
  touch-action: pan-y;
}

.list {
  position: relative;
  overflow: scroll;
  display: grid;
  margin: 0;
  padding: 0px 50px;
}

.track {
  opacity: 1;
  /* transform: translate3d(-20468px, 0px, 0px); */
  width: 15000px;
  position: relative;
  left: 0;
  top: 0;
  display: block;
}
.track::before {
  content: "";
  display: table;
}

.prev {
  left: calc((100% - 1210px) / 2);
}
.next {
  right: calc((100% - 1200px) / 2);
}

@media (min-width: 1200px) {
  .main {
    padding-top: 25px;
  }
  .banner {
    height: auto;
  }
}
