.arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 190px;
  width: 30px;
  height: 60px;
  opacity: 0.5;
  border-radius: 15px;
  background-color: #fff;
  font: 16px;
  cursor: pointer;
}

.arrow span {
  width: 100%;
  display: flex;
  align-items: inherit;
  justify-content: inherit;
}

.arrow svg:not(:root) {
  overflow: hidden;
}

.arrow svg {
  user-select: none;
  width: 1em;
  height: 1em;
  display: inline-block;
  fill: currentColor;
  flex-shrink: 0;
  font-size: inherit;
}
